@import url('https://fonts.googleapis.com/css2?family=Inter');

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
    font-family: 'Inter', sans-serif;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.card{
    height: 300px;
}